* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('https://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

html {
  background: #fafafa;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  line-height: 1.5;
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  font-size: 1em;
}
